%a{:href => "http://homkora.com/about"} About
|
%a{:href => "http://homkora.com/contact"} Contact
|
%a{:href => "http://homkora.com/privacy"} Privacy
|
%a{:href => "http://homkora.com/faq"} FAQ
|
%a{:href => "http://homkora.com/help"} Help
| Created by
%a{:href => "http://www.travisberry.com"} Travis Berry