:css
	h1{
		font-size:20px;
		padding-bottom:8px;
	}
	p{
		color:#999;
		padding:7px;
		line-height:1.6em;
		width:500px;
	}
%h1 About Homkora
%p
	:markdown
		Textile
		=======

		Hello, *World*
		[Travis Berry](http://travisberry.com)