:css
	h1{
		font-size:20px;
		padding-bottom:8px;
	}
	p{
		color:#999;
		padding:7px;
		line-height:1.6em;
		width:500px;
	}
%h1 Homkora API Documentation
%p
	:markdown
		Projects
		=======

		*****

		**Retrieve Projects:**

		Required Params: partner

			Example Code:

				<?php

					\$url = 'http://api-homkora.apigee.com/projects.xml?partner=APIKEYHERE';

					\$xml = simplexml_load_file(\$url);

					print_r(\$xml);

				?>

			Expected Result:

				<?xml version='1.0' encoding='UTF-8' ?>
					<projects> 
						<project _id='PROJECTID' total_time='00:24:23' user_id='USERID' title='EXAMPLE' description='EXAMPLE' 
						modified='1296142728' created='1295841164' />
					</projects>

		*****

		**Add Projects:**

		Required Params: partner - title - description

			Example Code:

				<?php

					\$url = 'http://api-homkora.apigee.com/projects/add.xml?partner=APIKEYHERE&title=test&description=test';

					\$xml = simplexml_load_file(\$url);

					print_r(\$xml);

				?>

			Expected Result:

				<result>
					<std_class success='1'/>
				</result>

		*****

		**Edit Projects:**

		Required Params: partner - title and/or description

			Example Code:

				<?php

					\$url = 'http://api-homkora.apigee.com/projects/edit/PROJECTID.xml?partner=APIKEYHERE&title=test&description=test';

					\$xml = simplexml_load_file(\$url);

					print_r(\$xml);

				?>

			Expected Result:

				<result>
					<std_class success='1'/>
				</result>

		*****

		**View Project:**

		Required Params: partner

			Example Code:

				<?php

					\$url = 'http://api-homkora.apigee.com/projects/view/PROJECTID.xml?partner=APIKEYHERE';

					\$xml = simplexml_load_file(\$url);

					print_r(\$xml);

				?>

			Expected Result:

				<project _id='PROJECTID' total_time='00:00:00' user_id='USERID' title='EXAMPLE' description='EXAMPLE' 
				modified='1296165562' created='1296165206' />

		*****

		*****

		Timers
		=======

		*****

		**Retrieve Timers:**

		Required Params: partner

			Example Code:

				<?php

					\$url = 'http://api-homkora.apigee.com/timers.xml?partner=APIKEYHERE';

					\$xml = simplexml_load_file(\$url);

					print_r(\$xml);

				?>

			Expected Result:

				<timers>
					<timer _id='TIMERID' created='1295842003' description='EXAMPLE' modified='1295843904' project_id='PROJECTID' 
					project_name='EXAMPLE' time='00:24:06' title='EXAMPLE' user_id='USERID'/>
				</timers>

		*****

		**Add Timer:**

		Required Params: partner - title - description - projectId - projectName - time

			Example Code:

				<?php

					\$time = urlencode('00:00:00');

					\$url = 'http://api-homkora.apigee.com/timers/add.xml?partner=APIKEYHERE&title=EXAMPLE&description=EXAMPLE
					&projectId=EXAMPLE&projectName=EXAMPLE&time='.\$time;

					\$xml = simplexml_load_file(\$url);

					print_r(\$xml);

				?>

			Expected Result:

				<result>
					<std_class success='1'/>
				</result>

		*****

		**Edit Timer:**

		Required Params: partner

		Optional Params: title - description - projectId - projectName - time

			Example Code:

				<?php

					\$time = urlencode('00:00:00');

					\$url = 'http://api-homkora.apigee.com/timers/edit/TIMERID.xml?partner=APIKEYHERE&time='.\$time;

					\$xml = simplexml_load_file(\$url);

					print_r(\$xml);

				?>

			Expected Result:

				<result>
					<std_class success='1'/>
				</result>

		*****

		**View Timer:**

		Required Params: partner

			Example Code:

				<?php

					\$url = 'http://api-homkora.apigee.com/timers/view/TIMERID.xml?partner=APIKEYHERE';

					\$xml = simplexml_load_file(\$url);

					print_r(\$xml);

				?>

			Expected Result:

				<timer _id='TIMERID' created='1295842003' description='Example Description' 
				modified='1295843904' time='00:00:00' title='Example Title' user_id='USERID' />